.ug-output-field {
    position: relative;
    flex: 1;
    margin-top: 1rem;
}

.ug-container {
    position: relative;
    flex: 1;
    margin-top: 1rem;
}

.ug-output-box {
    margin: var(--mantine-spacing-md);
    width: 25vw;
}

.ug-fields-container {
    margin-top: var(--mantine-spacing-md);
}